* {
	padding: 0px;
	margin: 0px;
}

#register_errors {
	border-radius: 10px;
}

#register_errors li {
	padding: 5px;
}

#login_error {
	border-radius: 10px;
}

#login_error li {
	padding: 5px;
}

#logoff {
	color: rgb(255, 0, 0);
	transition: 0.2s;
}

#logoff:hover {
	color: rgb(235, 130, 130);
	transition: 0.2s;
}

#delete_post {
	color: rgb(253, 55, 55);
}

.img-fluid {
	border-radius: 20px;
}

.footer_img {
	width: 100px;
	height: 50px;
}
