<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<title>Register</title>
	</head>
	<body class="bg-info">
		<nav class="navbar navbar-dark bg-dark">
			{% include 'partials/logo.html' %}
			<p class="h4 text-info">
				Hello, {{request.session.user_firstname}}!
				<a href="/post" class="navbar-brand text-warning ml-5">CREATE</a>
				<a href="/profile" class="navbar-brand text-warning ml-5">PROFILE</a>
			</p>
			<a href="/logoff" class="navbar-brand" id="logoff">Logoff</a>
		</nav>
		<div class="container-sm modal-body d-flex justify-content-center">
			<div class="jumbotron bg-dark text-white">
				<h1 class="display-2">FoodieMaster ID:</h1>
				<div class="d-flex justify-content-center">
					<img
						src="{{user.upload.file.url}}"
						style="
							border-radius: 20px;
							width: 198px;
							height: 198px;
							border: 2px solid white;
						"
						alt="{{user.firstname}}"
						class="img-fluid mb-4"
					/>
				</div>
				<div class="d-flex justify-content-center mb-5">
					<form
						action="add_profile/{{user.id}}"
						method="post"
						enctype="multipart/form-data"
					>
						{% csrf_token %}
						<input type="file" name="profile_image" />
						<button type="submit" class="btn btn-info">Add Image</button>
					</form>
				</div>
				<form action="edit_profile_process/{{user.id}}" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="firstname">Firstname:</label>
						<input
							type="text"
							class="form-control"
							name="firstname"
							value="{{user.firstname}}"
						/>
					</div>
					<div class="form-group">
						<label for="lastname">Lastname:</label>
						<input
							type="text"
							class="form-control"
							name="lastname"
							value="{{user.lastname}}"
						/>
					</div>
					<div class="form-group">
						<label for="age">Age:</label>
						<input
							type="number"
							class="form-control"
							name="age"
							value="{{user.age}}"
						/>
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input
							type="email"
							class="form-control mb-5"
							name="email"
							value="{{user.email}}"
						/>
					</div>
					<div class="row">
						<div class="col">
							<div class="d-flex justify-content-center">
								<button type="submit" class="btn btn-info mb-5">Update</button>
							</div>
						</div>
					</div>
				</form>
				<div class="alert-danger" id="register_errors">
					<ul class="list-unstyled">
						{% if messages %} {% for message in messages %}
						<li>{{message}}</li>
						{% endfor %} {% endif %}
					</ul>
				</div>
			</div>
		</div>
		{% include 'partials/footer.html' %}
	</body>
</html>
