<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
		<title>FoodieMasters Main</title>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-dark bg-secondary">
				<a href="/main" class="navbar-brand"><p class="h1">FoodieMasters</p></a>
				<p class="h4 text-info">
					Hello, {{request.session.user_firstname}}!
					<a href="/post" class="navbar-brand text-warning ml-5">CREATE</a>
					<a href="/profile" class="navbar-brand text-warning ml-5">PROFILE</a>
				</p>
				<a href="/logoff" class="navbar-brand" id="logoff">Logoff</a>
			</nav>
			<div class="container-sm">
				{% for post in posts reversed %}
				<div class="d-flex mt-5 pd-5 justify-content-lg-center flex-column">
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <img src="" alt="" class="img-fluid" style="height: 60px; width: 60px;">
                                <h1 class="display-2 ml-2">{{post.user}}</h1>
                            </div>
                        </div>
                    </div>
					<h1 class="display-4 text-dark">{{post.title}}</h1>
					<p class="h5 text-dark">{{post.description}}</p>
					<p class="h5 text-dark">{{post.recipe}}</p>
				</div>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col">
                            {% for comment in post.comments.all %}
                            <div class="d-flex flex-column mt-5" style="border: 1px solid black">

                                <p class="display-5">{{comment.user.firstname}} {{comment.user.lastname}}</p>
                                <p class="display-5">{{comment.text}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row mt-5 mb-5">
                        <div class="col">
                            <form action="/comment_process" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p class="display-5">Comments</p>
                                    <input type="text" class="form-control" name="comment">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex justify-content-end">
                                            <button type="submit">Add comment</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
