<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
		<title>Log In</title>
	</head>
	<body class="bg-info">
		<nav class="navbar navbar-dark bg-secondary">
			{% include 'partials/logo.html' %}
			<p class="h4 text-info">
				Hello, {{request.session.user_firstname}}!
				<a href="/profile" class="navbar-brand text-warning ml-5">PROFILE</a>
			</p>
			<a href="/logoff" class="navbar-brand text-danger">Logoff</a>
		</nav>
		<div class="container-fluid">
			<div class="d-flex justify-content-lg-center">
				<form
					action="/post_process"
					method="post"
					class="p-3 mb-2 mt-5 bg-dark text-white"
					style="border-radius: 20px;"
				>
					<h1 class="text-white display-3">POST YOUR FAVORITE FOOD</h1>
					{% csrf_token %}
					<div class="form-group">
						<label for="title">Title</label>
						<input type="text" class="form-control" name="title" />
					</div>
					<div class="form-group">
						<label for="description">Description:</label>
						<input type="text" class="form-control" name="description" />
					</div>
					<div class="form-group">
						<label for="recipe">Recipe:</label>
						<textarea
							name="recipe"
							class="form-control"
							cols="30"
							rows="10"
						></textarea>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary btn-lg">POST</button>
					</div>
				</form>
			</div>
			<div class="d-flex mt-5 pd-5 justify-content-lg-center">
				<div class="alert-danger" id="register_errors">
					<ul class="list-unstyled">
						{% if messages %} {% for message in messages %}
						<li>{{message}}</li>
						{% endfor %} {% endif %}
					</ul>
				</div>
			</div>
		</div>
		<p>,</p>
		{% include 'partials/footer.html' %}
	</body>
</html> 
