<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
		<title>Profile</title>
	</head>
	<body>
        <nav class="navbar navbar-dark bg-secondary">
            {% include 'partials/logo.html' %}
            <p class="h4 text-info">
                Hello, {{user.firstname}}!
                <a href="/post" class="navbar-brand text-warning ml-5">CREATE</a>
            </p>
            <a href="/logoff" class="navbar-brand" id="logoff">Logoff</a>
        </nav>
		<div class="container-fluid" id="profile_page">
			<div class="container-sm pt-5">
				<div class="row bg-dark text-light">
					<div class="col-2" style="outline: 1px dotted blue">img</div>
					<div class="col-10 p-2">
                        <div class="d-flex justify-content-between">
                            <h1 class="display-3">{{user.firstname}} {{user.lastname}}</h1>
                            <a href="/edit_profile" class="btn btn-sm btn-warning" style="height: 33px; border-radius: 20px">Update your information</a>
                        </div>
						<p class="display-5">Age: {{user.age}}</p>
						<p class="display-5">Email: {{user.email}}</p>
					</div>
				</div>
			</div>
			{% for post in user.posts.all reversed %}
			<div class="container-sm bg-dark text-light">
				<div class="d-flex justify-content-center mt-5">
					<div class="row mt-5">
						<div class="col">
                            <div class="row mb-5">
                                <div class="col-4">
                                    <div class="d-flex">
                                        <img src="" alt="" class="img-fluid" style="width: 60px; height:60px; border:1px solid black">
                                        <h1 class="display-5 mt-1 ml-2">{{user.firstname}} {{user.lastname}}</h1>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="d-flex justify-content-end">
                                        <a href="/edit_post/{{post.id}}" class="text-warning text-right mr-1">Edit</a> |
                                        <a href="/delete_post/{{post.id}}" class="text-danger text-right ml-1" id="delete_post">Delete</a>
                                    </div>
                                </div>
                            </div>
							<p class="display-6"><strong>Title:</strong> {{post.title}}</p>
							<p class="display-6">
								<strong>Description:</strong> {{post.description}}
							</p>
							<p class="display-6"><strong>Recipe:</strong> {{post.recipe}}</p>
                            <p class="display-5">{{post.likes.count}} liked this post</p>
						</div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col mb-5 mt-5">
                                    {% for comment in post.comments.all %}
                                    <div class="d-flex flex-column mt-1" style="border: 1px solid black">
                                        <p class="display-5">{{comment.user.firstname}} {{comment.user.lastname}}</p>
                                        <ul>
                                            <li style="list-style: none;"><p class="display-5">{{comment.text}}</p></li>
                                        </ul>
                                    </div>
                                    <hr style="height: 1px;">
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <form action="/profile_comment_process" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="comment">
                                            <input type="hidden" name="post_id" value="{{post.id}}">
                                        </div>
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="d-flex justify-content-end">
                                                    <button type="submit">Add comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
