<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<title>Register</title>
	</head>
	<body class="bg-info">
		<div class="container-sm modal-body d-flex justify-content-center">
			<div class="jumbotron" style="border-radius: 20px">
				<div class="d-flex justify-content-center">
					{% load static %}
					<img
						src="{% static 'img/app_icon.png' %}"
						style="width: 60px; height: 60px"
						alt=""
					/>
				</div>
				<h1 class="display-2">FoodieMasters</h1>
				<h3 class="display-4">Register Here</h3>
				<form action="register_process" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label for="firstname">Firstname:</label>
						<input type="text" class="form-control" name="firstname" />
					</div>
					<div class="form-group">
						<label for="lastname">Lastname:</label>
						<input type="text" class="form-control" name="lastname" />
					</div>
					<div class="form-group">
						<label for="age">Age:</label>
						<input type="number" class="form-control" name="age" value="5" />
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" name="email" />
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" />
					</div>
					<div class="form-group">
						<label for="confirm_password">Confirm Password:</label>
						<input
							type="password"
							class="form-control"
							name="confirm_password"
						/>
					</div>
					<button type="submit" class="btn btn-info mb-5">Submit</button>
				</form>
				<div class="alert-danger" id="register_errors">
					<ul class="list-unstyled">
						{% if messages %} {% for message in messages %}
						<li>{{message}}</li>
						{% endfor %} {% endif %}
					</ul>
				</div>
				<small class="text-muted"
					>Already registered?
					<strong><a href="/login">Login</a></strong> instead</small
				>
			</div>
		</div>
	</body>
</html>
