{% load static %}
<footer
	class="d-flex justify-content-center align-items-center bg-secondary p-3"
>
	<div>
		<a href="https://disboard.org/servers/tag/food" target="_blank">
			<img
				src="{% static 'img/discord.png' %}"
				class="footer_img img-fluid"
				alt=""
			/>
		</a>
		<a href="https://www.facebook.com/food" target="_blank">
			<img
				src="{% static 'img/fb.png' %}"
				class="footer_img img-fluid"
				alt=""
			/>
		</a>
		<a href="https://www.instagram.com/food/" target="_blank">
			<img
				src="{% static 'img/instagram.png' %}"
				class="footer_img img-fluid"
				alt=""
			/>
		</a>
		<a href="https://www.reddit.com/r/food/" target="_blank">
			<img
				src="{% static 'img/reddit.png' %}"
				class="footer_img img-fluid"
				alt=""
			/>
		</a>
		<a href="https://twitter.com/twitterfood?lang=en" target="_blank">
			<img
				src="{% static 'img/twitter.png' %}"
				class="footer_img img-fluid"
				alt=""
			/>
		</a>
		<a
			href="https://www.youtube.com/results?search_query=best+food+to+make+"
			target="_blank"
		>
			<img
				src="{% static 'img/yt.png' %}"
				class="footer_img img-fluid"
				alt=""
			/>
		</a>
	</div>
	<p class="display-5 text-light mt-2 ml-5">
		Copyright <span class="text-light">&copy;</span> 2021
	</p>
</footer>
